<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Rust App-Engine Demo</title>
  </head>
  <body>
    <h1>Hi {{name}}</h1>
    <h3>Here are your items:</h3>
    <ul>
      {{#each items}}
      <li>{{this}}</li>
      {{/each}}
    </ul>

    <p>Try going to <a href="/hello/YourName">/hello/YourName</a></p>
  </body>
</html>